<header>
  <div class="container">
    <div class="row">
      <div class="col-md-12 entry centered">
        <h1>Beautiful &amp; bright future is not far away</h1>
        <h2>Believe me, you can be better.</h2>
        <a class="btn btn-sign btn-success"><i class="fa fa-sign-in fa-lg"></i> Try It Now</a>
        <a class="btn btn-more btn-info"><i class="fa fa-info fa-lg"></i> Learn More</a>
      </div>
    </div>
  </div>
</header>
