<!-- Modal -->
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <%= link_to root_path, class: 'btn close' do %>
      <i class="fa fa-close"></i>
      <% end %>
      <h3 class="modal-title">Sign In</h4>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4 col-sm-12 col-md-push-7">
          <%= render "devise/shared/signin" %>
        </div>
        <div class="login-vline"></div>
        <div class="col-md-4 col-md-pull-3 col-sm-12">
          <%= render "devise/shared/registration" %>
        </div>
      </div>
      <div class="text-center text-muted">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
