// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
  background: asset_url("home_bg.jpeg") no-repeat center top;
  background-position: center center;
  background-size: cover;
  min-height: 700px;
  width: 100%;
}

.entry {
  margin-top: 10%;
}

.centered {
  text-align: center;
}

.btn-sign {
  margin-right: 10px;
}

.btn-more {
  margin-left: 10px;
}

.footer {
  font-weight: bold;
  font-size: 0.75em;
}
